tensorflow
torch
xgboost
lightgbm
catboost
mlflow
pandas
numpy
scikit-learn
ta
yfinance
fastapi
uvicorn
transformers
requests
optuna
matplotlib
scipy
seaborn
statsmodels
psutil
python-dotenv
google-genai
networkx
shap
numba
requests
beautifulsoup4
lxml
